node_modules/
dist/
tmp/
*.db
*.exe
download/
build/
.VSCodeCounter/
.claude/
server/bilidown.exe~
.omc
docs/superpowers

# 生成的静态文件（嵌入二进制）
server/internal/static/ui/*
!server/internal/static/ui/.gitkeep